<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Bundle
		Name="Microsoft .NET $(var.NetVersion) - Windows Server Hosting"
		Manufacturer="Lukas Volf"
		Version="$(var.NetVersion).0"
		UpgradeCode="{22CF255E-11C6-3215-9641-4DD50F7193BF}"
		Compressed="yes"
		DisableModify="yes">
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
				LicenseUrl="https://github.com/jimm98y/ancm-arm64"
				Theme="hyperlinkLicense"
				LogoFile="logo.jpg"
				SuppressOptionsUI="yes" />
		</BootstrapperApplication>

		<netfx:DotNetCoreSearch
			Variable="NETCORE_ARM64"
			RuntimeType="core"
			Platform="arm64"
			MajorVersion="$(var.NetMajorVersion)" />
		<netfx:DotNetCoreSearch
			Variable="NETCORE_X64"
			RuntimeType="core"
			Platform="x64"
			MajorVersion="$(var.NetMajorVersion)" />
		<netfx:DotNetCoreSearch
			Variable="NETCORE_X86"
			RuntimeType="core"
			Platform="x86"
			MajorVersion="$(var.NetMajorVersion)" />

		<netfx:DotNetCoreSearch
			Variable="ASPNETCORE_ARM64"
			RuntimeType="aspnet"
			Platform="arm64"
			MajorVersion="$(var.NetMajorVersion)" />
		<netfx:DotNetCoreSearch
			Variable="ASPNETCORE_X64"
			RuntimeType="aspnet"
			Platform="x64"
			MajorVersion="$(var.NetMajorVersion)" />
		<netfx:DotNetCoreSearch
			Variable="ASPNETCORE_X86"
			RuntimeType="aspnet"
			Platform="x86"
			MajorVersion="$(var.NetMajorVersion)" />

		<util:FileSearch
			Path="[ProgramFilesFolder]\IIS\Asp.Net Core Module\V2\$(var.AspNetVersion)\aspnetcorev2_outofprocess.dll"
			Result="exists"
			Variable="ASPNETCORE_HOSTING_X86" />

		<util:FileSearch
			Path="[ProgramFiles64Folder]\IIS\Asp.Net Core Module\V2\aspnetcorev2_x64.dll"
			Result="exists"
			Variable="ASPNETCORE_PATCH" />

		<PayloadGroup Id="AspNetCoreMsiX64">
			<Payload Name="AspNetCoreModuleV2_x64.msi" SourceFile="..\temp\msi\AttachedContainer\AspNetCoreModuleV2_x64.msi" />
		</PayloadGroup>

		<Chain>
			<ExePackage
				PerMachine="yes"
				DetectCondition="NETCORE_ARM64 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\dotnet-runtime-$(var.NetVersion)-win-arm64.exe" />
			<ExePackage
				PerMachine="yes"
				DetectCondition="NETCORE_X64 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\dotnet-runtime-$(var.NetVersion)-win-x64.exe" />
			<ExePackage
				PerMachine="yes"
				DetectCondition="NETCORE_X86 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\dotnet-runtime-$(var.NetVersion)-win-x86.exe" />

			<ExePackage
				PerMachine="yes"
				DetectCondition="ASPNETCORE_ARM64 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\aspnetcore-runtime-$(var.NetVersion)-win-arm64.exe" />
			<ExePackage
				PerMachine="yes"
				DetectCondition="ASPNETCORE_X64 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\aspnetcore-runtime-$(var.NetVersion)-win-x64.exe" />
			<ExePackage
				PerMachine="yes"
				DetectCondition="ASPNETCORE_X86 &gt;= v$(var.NetVersion)"
				InstallArguments="/install /quiet /norestart"
				UninstallArguments="/uninstall /quiet /norestart"
				SourceFile="..\temp\msi\AttachedContainer\aspnetcore-runtime-$(var.NetVersion)-win-x86.exe" />

			<ExePackage
				Id="AspNetCoreModuleX64"
				CacheId="AspNetCoreModuleX64$(var.NetVersion)"
				PerMachine="yes"
				DetectCondition="ASPNETCORE_X64 &gt;= v$(var.NetVersion)"
				InstallArguments="install $(var.AspNetVersion)"
				UninstallArguments="uninstall $(var.AspNetVersion)">
				<PayloadGroupRef Id="AspNetCoreMsiX64" />
				<ExePackagePayload SourceFile="fix0.bat" />
				<ExitCode Value="0" Behavior="success" />
			</ExePackage>

			<ExePackage
				Id="CopyX64"
				PerMachine="yes"
				DetectCondition="ASPNETCORE_X64 &gt;= v$(var.NetVersion)"
				InstallArguments="install $(var.AspNetVersion)"
				UninstallArguments="uninstall $(var.AspNetVersion)">
				<ExePackagePayload SourceFile="fix1.bat" />
				<ExitCode Value="0" Behavior="success" />
			</ExePackage>

			<MsiPackage SourceFile="..\temp\msi\AttachedContainer\AspNetCoreModuleV2_arm64.msi" />

			<ExePackage
				Id="CopyARM64"
				PerMachine="yes"
				DetectCondition="ASPNETCORE_ARM64 &gt;= v$(var.NetVersion)"
				InstallArguments="install $(var.AspNetVersion)"
				UninstallArguments="uninstall $(var.AspNetVersion)">
				<ExePackagePayload SourceFile="fix2.bat" />
				<ExitCode Value="0" Behavior="success" />
			</ExePackage>

			<ExePackage
				Id="AspNetCoreModuleX86"
				CacheId="AspNetCoreModuleX86$(var.NetVersion)"
				PerMachine="yes"
				DetectCondition="ASPNETCORE_X86 &gt;= v$(var.NetVersion)"
				InstallArguments="install $(var.AspNetVersion)"
				UninstallArguments="uninstall $(var.AspNetVersion)">
				<PayloadGroupRef Id="AspNetCoreMsiX64" />
				<ExePackagePayload SourceFile="fix3.bat" />
				<ExitCode Value="0" Behavior="success" />
			</ExePackage>

			<MsiPackage SourceFile="..\DotnetHostingARM64EC\bin\ARM64\Release\en-US\DotnetHostingARM64EC.msi" Visible="no" />

			<MsiPackage SourceFile="..\temp\msi\AttachedContainer\WindowsServerHostingBundleOptions.msi" />
		</Chain>
	</Bundle>
</Wix>
